In [2]:
import requests
from bs4 import BeautifulSoup
import csv
from datetime import datetime
import pandas as pd

In [4]:
datosyahoo=pd.read_csv('Bolsayahoo.csv', header=0) #Leo archivo de yahoo y lo transformo en la variable datosyahoo
print (datosyahoo)

   Unnamed: 0       Fecha  Variacion Santander  Variacion Telefonica  \
0           0  2021-10-27                 0.02                  0.02

   Variacion Repsol  Variacion BBVA
0             0.114            0.03

In [5]:
#filtrado de datos

#filtrado de una columna
santanderyahoo=datosyahoo.loc[0,'Variacion Santander']
santanderyahoo

0.0199999809265136

In [6]:
#filtrado de datos

#filtrado de una columna
telefonicayahoo=datosyahoo.loc[0,'Variacion Telefonica']
telefonicayahoo

0.0199999809265136

In [7]:
#filtrado de datos

#filtrado de una columna
repsolyahoo=datosyahoo.loc[0,'Variacion Repsol']
repsolyahoo

0.1140003204345703

In [8]:
#filtrado de datos

#filtrado de una columna
bbvayahoo=datosyahoo.loc[0,'Variacion BBVA']

bbvayahoo

0.0300002098083496

In [12]:
datosbolsa=pd.read_csv('bolsa_acciones.csv', header=0) #Leo archivo de yahoo y lo transformo en la variable datosyahoo
print (datosbolsa)

    Unnamed: 0        Nombre    Precio Variacion    Maxima    Minima  \
0            0       ACCIONA  164,4000      0,74  165,1000  162,2000
1            1      ACERINOX   11,9950     -0,37   12,1250   11,9050
2            2           ACS   22,7000     -1,26   23,2400   22,6600
3            3          AENA  141,7500     -0,18  142,9500  141,0500
4            4      ALMIRALL   12,7500     -0,86   12,9600   12,7300
5            5       AMADEUS   57,1000      0,25   57,5600   56,3200
6            6   ARCELORMIT.   29,1350     -0,31   29,5800   28,4450
7            7   B.SANTANDER    3,2610     -2,85    3,3505    3,2245
8            8   BA.SABADELL    0,6548     -1,83    0,6676    0,6506
9            9     BANKINTER    4,7080      0,06    4,7660    4,6600
10          10          BBVA    5,6150     -1,20    5,7440    5,5620
11          11     CAIXABANK    2,5490     -2,04    2,5960    2,5280
12          12       CELLNEX   54,0800     -0,15   54,7200   53,8400
13          13  CIE AUTOMOT.   23,0800      0,17   23,1200   22,7800
14          14        ENAGAS   19,7850      1,77   19,8000   19,3400
15          15        ENDESA   19,8100      2,03   19,8100   19,3150
16          16     FERROVIAL   27,2900      0,04   27,4800   27,2300
17          17       FLUIDRA   36,6500     -0,27   37,5000   36,4000
18          18  GRIFOLS CL.A   19,8500     -2,36   20,3900   19,8500
19          19           IAG    1,8980     -0,50    1,9255    1,8870
20          20     IBERDROLA   10,0500      1,66   10,0950    9,8760
21          21       INDITEX   30,8200     -0,23   31,0000   30,4800
22          22       INDRA A    9,5600     -0,10    9,5600    9,4550
23          23  INM.COLONIAL    8,4800      1,19    8,5400    8,3400
24          24        MAPFRE    1,8220      0,50    1,8330    1,8085
25          25  MELIA HOTELS    6,3020     -0,51    6,3360    6,1520
26          26        MERLIN    9,4400      0,85    9,4560    9,3360
27          27       NATURGY   22,5700      0,80   22,6000   22,3200
28          28    PHARMA MAR   69,1800     -1,76   70,2400   69,0600
29          29        R.E.C.   18,0650      2,35   18,0850   17,5250
30          30        REPSOL   11,4660     -0,64   11,5800   11,3200
31          31  SIEMENS GAME   22,1800     -0,54   22,4000   21,9400
32          32       SOLARIA   16,8350      1,14   16,9850   16,4500
33          33    TELEFONICA    3,8135      0,01    3,8135    3,7685
34          34      VISCOFAN   55,8500      0,18   56,8500   55,5000

         Fecha
0   2021-10-27
1   2021-10-27
2   2021-10-27
3   2021-10-27
4   2021-10-27
5   2021-10-27
6   2021-10-27
7   2021-10-27
8   2021-10-27
9   2021-10-27
10  2021-10-27
11  2021-10-27
12  2021-10-27
13  2021-10-27
14  2021-10-27
15  2021-10-27
16  2021-10-27
17  2021-10-27
18  2021-10-27
19  2021-10-27
20  2021-10-27
21  2021-10-27
22  2021-10-27
23  2021-10-27
24  2021-10-27
25  2021-10-27
26  2021-10-27
27  2021-10-27
28  2021-10-27
29  2021-10-27
30  2021-10-27
31  2021-10-27
32  2021-10-27
33  2021-10-27
34  2021-10-27

In [14]:
#muestra las filas que quiero del archivo bolda este es por indice

datosbolsa.iloc [[7,10,30,33]]

    Unnamed: 0       Nombre   Precio Variacion   Maxima   Minima       Fecha
7            7  B.SANTANDER   3,2610     -2,85   3,3505   3,2245  2021-10-27
10          10         BBVA   5,6150     -1,20   5,7440   5,5620  2021-10-27
30          30       REPSOL  11,4660     -0,64  11,5800  11,3200  2021-10-27
33          33   TELEFONICA   3,8135      0,01   3,8135   3,7685  2021-10-27

In [15]:
#imprime la variacion de Santander

santander=datosbolsa.loc[7, 'Variacion']
santander

'-2,85'

In [16]:
telefonica=datosbolsa.loc[33, 'Variacion']
telefonica

'0,01'

In [17]:
repsol=datosbolsa.loc[30, 'Variacion']
repsol

'-0,64'

In [18]:
bbva=datosbolsa.loc[10, 'Variacion']
bbva

'-1,20'

In [20]:
#Comparo las variables
print(" la Variación de la acción Santander en Yahoo Fue:", "{0:.2f}".format(santanderyahoo), "mientras que en la Bolsa de Madrid", santander)
print(" la Variación de la acción Telefónica en Yahoo Fue:", "{0:.2f}".format(telefonicayahoo), "mientras que en la Bolsa de Madrid", telefonica)
print(" la Variación de la acción Repsol en Yahoo Fue:", "{0:.2f}".format(repsolyahoo), "mientras que en la Bolsa de Madrid", repsol)
print(" la Variación de la acción BBVA en Yahoo Fue:", "{0:.2f}".format(bbvayahoo), "mientras que en la Bolsa de Madrid", bbva)

 la Variación de la acción Santander en Yahoo Fue: 0.02 mientras que en la Bolsa de Madrid -2,85
 la Variación de la acción Telefónica en Yahoo Fue: 0.02 mientras que en la Bolsa de Madrid 0,01
 la Variación de la acción Repsol en Yahoo Fue: 0.11 mientras que en la Bolsa de Madrid -0,64
 la Variación de la acción BBVA en Yahoo Fue: 0.03 mientras que en la Bolsa de Madrid -1,20