In [1]:
import requests
from bs4 import BeautifulSoup
import csv
from datetime import datetime
import pandas as pd

In [2]:
datosyahoo=pd.read_csv('Bolsayahoo.csv', header=0) #Leo archivo de yahoo y lo transformo en la variable datosyahoo
print (datosyahoo)

   Unnamed: 0       Fecha  Variacion Santander  Variacion Telefonica  \
0           0  2021-09-24                -0.02                 -0.03
1           1  2021-09-27                -0.03                 -0.05
2           2  2021-09-28                 0.08                  0.07
3           3  2021-09-29                -0.03                 -0.01
4           4  2021-09-30                 0.05                  0.01
5           5  2021-10-01                -0.02                  0.00
6           6  2021-10-04                 0.03                 -0.02

   Variacion Repsol  Variacion BBVA
0            -0.050           -0.05
1            -0.186           -0.03
2            -0.004            0.08
3            -0.246           -0.07
4            -0.036            0.05
5            -0.168           -0.03
6            -0.240            0.02

In [3]:
print (datosyahoo ['Variacion Santander']) #pido que me imprima una columna

0   -0.02
1   -0.03
2    0.08
3   -0.03
4    0.05
5   -0.02
6    0.03
Name: Variacion Santander, dtype: float64

In [23]:
#Devuelve una lista con los nombres de las filas del DataFrame
datosyahoo.index

RangeIndex(start=0, stop=7, step=1)

In [22]:
#Devuelve una lista con los nombres de las columnas del DataFrame
datosyahoo.columns

Index(['Unnamed: 0', 'Fecha', 'Variacion Santander', 'Variacion Telefonica',
       'Variacion Repsol', 'Variacion BBVA'],
      dtype='object')

In [33]:
#filtrado de datos

#filtrado de una columna
santanderyahoo=datosyahoo.loc[0,'Variacion Santander']

santanderyahoo

-0.0200002193450927

In [34]:
#filtrado de datos

#filtrado de una columna
telefonicayahoo=datosyahoo.loc[0,'Variacion Telefonica']

telefonicayahoo

-0.0300002098083496

In [35]:
#filtrado de datos

#filtrado de una columna
repsolyahoo=datosyahoo.loc[0,'Variacion Repsol']

repsolyahoo

-0.0500001907348632

In [36]:
#filtrado de datos

#filtrado de una columna
bbvayahoo=datosyahoo.loc[0,'Variacion BBVA']

bbvayahoo

-0.049999713897705

In [5]:
datosbolsa=pd.read_csv('bolsa_acciones.csv', header=0) #Leo archivo de yahoo y lo transformo en la variable datosyahoo
print (datosbolsa)

       Unnamed: 0    Nombre    Precio Variacion    Maxima  \
0               0   ACCIONA  157,8000      1,15  158,9000
1               1  ACERINOX   11,4900     -2,25   11,6800
2               2       ACS   23,0500      0,22   23,2900
3               3      AENA  141,0000     -2,08  142,4500
4               4  ALMIRALL   12,7500      0,39   12,8400
..            ...       ...       ...       ...       ...
246        REPSOL   11,6400     -0,33   11,7100   11,4680
247  SIEMENS GAME   22,3600      2,99   22,5400   21,7600
248       SOLARIA   16,6500      2,56   16,8000   16,3000
249    TELEFONICA    3,7740     -1,27    3,8055    3,7465
250      VISCOFAN   55,8500      1,18   56,1500   55,4000

                         Minima                       Fecha
0                      154,2000  2021-10-21 18:17:24.068841
1                       11,4000  2021-10-21 18:17:24.068841
2                       22,7600  2021-10-21 18:17:24.068841
3                      139,7500  2021-10-21 18:17:24.068841
4                       12,6400  2021-10-21 18:17:24.068841
..                          ...                         ...
246  2021-10-26 10:20:29.772730                         NaN
247  2021-10-26 10:20:29.772730                         NaN
248  2021-10-26 10:20:29.772730                         NaN
249  2021-10-26 10:20:29.772730                         NaN
250  2021-10-26 10:20:29.772730                         NaN

[251 rows x 7 columns]

In [6]:
#filtrado de datos

#filtrado de una columna
variacion1=datosbolsa['Variacion']

variacion1

0         1,15
1        -2,25
2         0,22
3        -2,08
4         0,39
        ...
246    11,7100
247    22,5400
248    16,8000
249     3,8055
250    56,1500
Name: Variacion, Length: 251, dtype: object

In [7]:
#muestra las filas que quiero del archivo bolda este es por indice

datosbolsa.iloc [[7,10,30,33]]

,Unnamed: 0,Nombre,Precio,Variacion,Maxima,Minima,Fecha
7,7,B.SANTANDER,"3,3135","-1,38","3,3500","3,2970",2021-10-21 18:17:24.084446
10,10,BBVA,"5,6610","-2,90","5,7870","5,6370",2021-10-21 18:17:24.084446
30,30,REPSOL,"11,4520","-2,04","11,6600","11,4440",2021-10-21 18:17:24.131317
33,33,TELEFONICA,"3,7905","-1,20","3,8685","3,7905",2021-10-21 18:17:24.131317

In [12]:
#imprime la variacion de Santander

santander=datosbolsa.loc[7, 'Variacion']

santander

'-1,38'

In [14]:
telefonica=datosbolsa.loc[33, 'Variacion']
telefonica

'-1,20'

In [15]:
repsol=datosbolsa.loc[30, 'Variacion']
repsol

'-2,04'

In [17]:
bbva=datosbolsa.loc[10, 'Variacion']
bbva

'-2,90'

In [50]:
#Comparo las variables
print(" la Variación de la acción Santander en Yahoo Fue:", "{0:.2f}".format(santanderyahoo), "mientras que en la Bolsa de Marid", santander)
print(" la Variación de la acción Telefónica en Yahoo Fue:", "{0:.2f}".format(telefonicayahoo), "mientras que en la Bolsa de Marid", telefonica)
print(" la Variación de la acción Repsol en Yahoo Fue:", "{0:.2f}".format(repsolyahoo), "mientras que en la Bolsa de Marid", repsol)
print(" la Variación de la acción BBVA en Yahoo Fue:", "{0:.2f}".format(bbvayahoo), "mientras que en la Bolsa de Marid", bbva)

 la Variación de la acción Santander en Yahoo Fue: -0.02 mientras que en la Bolsa de Marid -1,38
 la Variación de la acción Telefónica en Yahoo Fue: -0.03 mientras que en la Bolsa de Marid -1,20
 la Variación de la acción Repsol en Yahoo Fue: -0.05 mientras que en la Bolsa de Marid -2,04
 la Variación de la acción BBVA en Yahoo Fue: -0.05 mientras que en la Bolsa de Marid -2,90